:root {
  --orange: orangered;
  --green: rgb(8, 181, 8);
  --ltgreen: rgb(180, 237, 180);
  --blue: rgb(28, 89, 164);
  --white: whitesmoke;

  /* Font Sizes */
  --baseFontSize: 1.125rem;
  --baseNavSize: 0.8rem;
  --smallFontSize: 1rem;
  --smallestFontSize: 0.512rem;
  --xtra-big-ass-heading: 4rem;
  --xtra-heading: 2.441rem;
  --heading-1: 1.953rem;
  --heading-2: 1.563rem;
  --heading-3: 1.25rem;
  --heading-4: var(--baseFontSize);
  --heading-5: var(--smallFontSize);
  --heading-6: 0.64rem;
  --heading-7: var(--smallestFontSize);
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: watermelon;
  src: url('/assets/Watermelon Regular.otf') format('otf');
}

body {
  font-family: helvetica;
  scroll-behavior: smooth;
  margin: 0;
  line-height: 1.4;
  font-size: var(--baseFontSize);
}

header {
  display: grid;
  padding: 15px 0;
  color: var(--blue);
  justify-content: center;
  background: linear-gradient(
    180deg,
    #1494de,
    #04a1e5,
    #07aeeb,
    #1bbaf0,
    #2fc7f5,
    #43d3f8,
    #57dffc,
    #6bebff
  );
  box-shadow: 0px 3px 6px 0px gray;
}
nav {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

nav > a > button {
  background-color: var(--white);
  border-radius: 30px 30px;
  border: 0px solid dimgray;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: var(--smallFontSize);
  min-width: 255px;
}

.grow {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  transition: transform 0.4s ease;
}

.grow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

main {
  padding: 5px 10vw;
}
h1 {
  font-family: watermelon, Optima, Courier;
  text-align: center;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0 15vw;
  margin: 2vh 0;
  color: var(--white);
  font-size: var(--xtra-big-ass-heading);
}

h2 {
  color: var(--orange);
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--orange);
}

p {
  font-size: var(--baseFontSize);
}

#dataVizContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.dataViz {
  display: grid;
  place-items: start end;
  padding: 20px;
  border-top: 5px solid var(--blue);
}
.dataViz:hover {
  background-color: rgb(235, 255, 255);
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.y > .tick > line {
  opacity: 0.3;
}

.tooltip {
  padding: 3px 15px;
}

details summary {
  padding: 5px 10px;
  color: white;
  background-color: var(--blue);
}

/* Open details element. */
details[open] {
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
}

/* Summary within an open details element. */
details[open] summary {
  background-color: var(--green);
}

table :not(tr:first-child),
td {
  padding: 5px;
}

table tr:first-child th {
  background: var(--blue);
  color: var(--white);
  text-align: left;
  padding-left: 5px;
}

.border_bottom > td {
  border-bottom: 1px solid black;
  color: red;
}
.pubs {
  padding: 5px 10px 5px 20px;
  margin-bottom: 5vh;
  background: white;
  border-left: solid 10px var(--orange);
}
.pubs h4 {
  margin: 3px;
}

footer {
  border-image: linear-gradient(
      to right,
      var(--blue) 25%,
      var(--orange) 25%,
      var(--orange) 50%,
      var(--green) 50%,
      var(--green) 75%,
      var(--blue) 75%
    )
    100;
  background: gray;
  color: white;
  text-align: center;
  padding: 10px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--blue); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 0.9;
  font-family: watermelon;
}

#myBtn:hover {
  opacity: 0.9; /* Add a dark-grey background on hover */
}

@media only screen and (max-width: 600px) {
  :root {
    --baseFontSize: 1rem;
    --white: #ffffff;
  }
}
