body {
  font-family: helvetica;
  background: lightgoldenrodyellow;
}

#header {
  display: grid;
  padding: 10px;
  justify-content: start;
  color: rgba(05, 05, 05, 0.5);
  background-color: ;
}

h2 {
  color: orangered;
}

table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid hsl(45, 100%, 50%, 0.2);
  border-collapse: collapse;
  padding: 0.5rem;
}
